@import "../../global.scss";

#topbar{
    //background-color: #92374D;
    //background-color: #EDEDF4;
    //background-color: #2F4858;
    background-color: white;
    position: fixed;
    top:0;
    z-index: 3; //to show the topbar while scrolling
    width: 100%;
    height: 100px; 
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content:start;
}
.about, .myworks{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.7em;
    margin-top: 11px;
    color: #F3752B;
    cursor: pointer;
}
.myworks{
     margin-left: 2em;
}
.about{
    margin-left: 25em;
    text-decoration: none;
}
.about:hover, .myworks:hover{
    color: #0D3B66;
}
.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    color: #b34404;
    text-decoration: none;
    margin-left: 1em;
    margin-top: 10px;
}
.name:hover{
    color: #F59F76;
}