@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.quizapp{
    //background-color: #F39237;
    //background-color: #FFD6BA;
    //background-color: #EDEDF4;
    background-color: #F59F76;
}
.bombhome{
    width: 85em; 
    margin-top: 5em;
    margin-right: 250em;
}
.subtitleweather{
    color: white;
    font-family: 'Varela Round';
    font-size: 4em;
    margin-left: 1em;
    margin-right: 0em;
    margin-top:3.5em;
}
.technologies{
    margin-left: 35.5em;
    font-size: 1em;
    font-family: 'Varela Round';
    color: white;
    font-size: 1.5em;
}
.technology{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.title{
    margin-top:1.5em;
    margin-left: 2em;
    font-family: 'Varela Round';
    color: #363537;
    font-size: 3em;
}
.container{
    display: flex;
    flex-direction: row;

}
 