@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.gamesreview{
    background-color:  #0D3B66;
}
.screen{
   object-fit: contain;
   margin-top: 9em;
   margin-left: 34em;
   width: 50%;
   height: 50%;
   background-image:url(../../assets/login.png);
   background-size: cover;
   background-position: center;
   background-repeat:no-repeat;
   transition: 0.5s;

   animation-name:animate ;
   animation-direction: alternate-reverse ;
   animation-duration: 4s ;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite ;
   animation-play-state:running;
   animation-timing-function:steps(1);

}

@keyframes animate{
    0%{
        background-image: url(../../assets/login.png);
    }34%{
        background-image: url(../../assets/accountcreate.png);
    }68%{
        background-image: url(../../assets/sidebar.png);
    }100%{
        background-image: url(../../assets/home.png);
    }
}
.title3{
    font-size: 3em;
    font-family: 'Varela Round';
    margin-top: 1.5em;
    margin-left: 20em;
    color: white;
}
.technologies3{
    font-family: 'Varela Round';
    color: white;
    font-size: 1.5em;
    margin-left: 22.8em;
    margin-top: 1em;
}