.intro{
    background-color: #F3752B;
}
.titleIntro{
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 2.5em;
    margin-left: 5em;
    margin-right: 5em;
     
}

.slider{
    height: 460px;
    margin-left: 19em;
    padding-top: 4em;
    
    .container{
        .item{
            width: 900px;
            background-color: #F3752B;
            display: flex;
            align-items: center;
            justify-content: center;
            

            .left{
                flex:4;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .imghome{
                width: 100%;
                height: 100%;
                
            }
            .right{
                flex:4;
                height: 100%; 
            }
        }
    }
}
 
 